body {
  text-align: center;
  font-family: cursive;
  background-color: #1fcc58;
  /*scrollbar: no;*/
}

main {
  margin: auto;
}

header {
  background-color: #f2f213;
  margin-left: 25%;
  margin-right: 25%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

h1 {
  font-size: 4.5em;
  padding: 50px;
}

button {
  background-color: white;
  font-size: 12pt;
  width: 100px;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.start-button {
  margin-top: 150px;
}

.game {
  display: flex;
  justify-content: space-between;
}

.game-left {
  width: 70%;
}

#board {
  height: 650px;
  position: relative;
  background: url('img/BOARD_DESIGN.png') no-repeat;
  background-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

#man3 {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 2vw;
  height: 2vw;
  transform: translate(5vw, 3vw);
}

.prime-button {
  margin-left: 325px; /* This needs to be fixed, since this is just a manual spacing.
                         Change to auto position to right */
}

.decision-window {
  border: 5px outset #777;
  border-radius: 15px;
  width: 28vw;
  background-color: white;
}

/* Information popup page*/
.infoPopup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
}

.infoPopup img {
  visibility: hidden;
  width: 50vw;
  /*background-color: #555;*/
  /*color: #fff;*/
  text-align: center;
  /*border-radius: 6px;*/
  padding: 8px 0;
  position: absolute;
  /*z-index: 1;*/
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
}

/* Popup pointer (but it doesn't work)
.infoPopup img::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
*/

.infoPopup .show {
  visibility: visible;
  -webket-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
/*End of information popup page*/

.hidden {
  display: none;
}
